includes:
	- vendor/phpstan/phpstan-symfony/extension.neon
parameters:
	excludePaths:
		- tests
	level: 8
	paths: ['src', 'Atenea']
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false